#main_wrapper{
    width:100vw;
    height:fit-content;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 10px;
    overflow: hidden;
    flex-flow: row;
}
#right_side{
    width:70%;
    height: auto;
    margin: 10px 30px 0 0 ;
    border-radius: 10px;
    box-shadow: 1px 1px 10px grey;
    background-color: rgb(255, 255, 255);
}